@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');





body {
  background-image: url(img/leaves-background.png);
  background-repeat: repeat-x;
}

/** Names **/
.names-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-image: url(img/rose-gold.jpg) 30 round;
  border-width: thick;
}

#heart {
  fill-rule: evenodd;
  fill: #ad7b7f;
}

#names {
  font-family: 'Clicker Script';
  color: #ad7b7f;
  text-align: center;
}

/* XSmall */
@media (max-width: 575px) {

  .filipa,
  .pedro {
    text-align: center;
  }
}

/* Small */
@media (min-width: 576px) {

  .filipa,
  .pedro {
    text-align: center;
  }
}

/* Md and above */
@media (min-width: 768px) {
  .pedro {
    text-align: left;
  }

  .filipa {
    text-align: right;
  }
}

/** End of Names **/


/** Date **/

#date {
  font-family: 'Poppins';
}

/** End of Date **/

.gif {
  max-width: 100%;
}

.timeline-icon{
  max-width: 100%;
}

/** Countdown **/

.countdown-container {
  background-image: url(img/leaves-countdown.jpg);
  background-size: auto;
  font-family: 'Poppins';
}


@media (max-width: 575px) {
  .timeUnit {
    font-size: 12px;
  }
}

/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .timeUnit {
    font-size: 22px;
  }
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .timeUnit {
    font-size: 23px;
  }
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .timeUnit {
    font-size: 25px;
  }
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .timeUnit {
    font-size: 27px;
  }
}

/** End of Countdown **/

.fa-exclamation-circle {
  font-size: 2.0em;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
