@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  background-image: url(img/leaves-background.png);
  background-repeat: repeat-x;
}

html {
  scroll-behavior: smooth;
}

#logo {
  max-width: 75px;
}

/** Names **/
.names-container {
  background-color: rgba(255, 255, 255, 0.6);
  border: black solid 1px;
  border-image: url(img/rose-gold.jpg) 30% stretch;
  border-width: thick;
}

#heart {
  fill-rule: evenodd;
  fill: #ad7b7f;
}

#names {
  font-family: 'Clicker Script';
  color: #ad7b7f;
  text-align: center;
}

.names-container h1 {
  font-size: 300px;
}

#svg-heart {
  width: 200px;
  height: 200px;
}

/* XSmall */
@media (max-width: 575px) {

  .filipa,
  .pedro {
    text-align: center;
  }

  .names-container h1 {
    font-size: 120px;
  }

  #svg-heart {
    width: 80;
    height: 80px;
  }
}

/* Small */
@media (min-width: 576px) {

  .filipa,
  .pedro {
    text-align: center;
  }

  .names-container h1 {
    font-size: 150px;
  }

  #svg-heart {
    width: 100;
    height: 100px;
  }
}

/* Md */
@media (min-width: 768px) {
  .pedro {
    text-align: left;
  }

  .filipa {
    text-align: right;
  }

  .names-container h1 {
    font-size: 18vw;
  }

  #svg-heart {
    width: 9vw;
    height: 9vw;
  }
}

/* LG */
@media (min-width: 992px) {
  .pedro {
    text-align: left;
  }

  .filipa {
    text-align: right;
  }

  .names-container h1 {
    font-size: 15vw;
  }

  #svg-heart {
    width: 8vw;
    height: 8vw;
  }
}

/* XL */
@media (min-width: 1200px) {
  .pedro {
    text-align: left;
  }

  .filipa {
    text-align: right;
  }

  .names-container h1 {
    font-size: 11vw;
  }

  #svg-heart {
    width: 6vw;
    height: 6vw;
  }
}

/** End of Names **/


/** Date **/

#date {
  font-family: 'Poppins';
}

.weekday {
  color: #ad7b7f;
}

/** End of Date **/

.gif {
  max-width: 100%;
}

/* XSmall */
@media (max-width: 575px) {

  .timeline h4,
  p {
    font-size: 80%;
  }
}

.timeline-icon {
  max-width: 100%;
}

/** Countdown **/

.countdown-container {
  background-image: url(img/leaves-countdown.jpg);
  background-size: auto;
  font-family: 'Poppins';
}


@media (max-width: 575px) {
  .timeUnit {
    font-size: 12px;
  }
}

/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .timeUnit {
    font-size: 22px;
  }
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .timeUnit {
    font-size: 23px;
  }
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .timeUnit {
    font-size: 25px;
  }
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .timeUnit {
    font-size: 27px;
  }
}

/** End of Countdown **/

.fa-exclamation-circle {
  font-size: 2.0em;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

.maps-container {
  font-family: 'Poppins';
}

.map {
  min-height: 500px;
}

.dir-quinta{
  max-width: 700px;
  margin: 0 auto;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/